.desk_dash {
  height: vh;
  max-width: 300px;
  background-color: #F5F7FA;
}

.mob_dash{
  height: vh;
  width: 50px;
}

.desk_dash ul, .mob_dash ul{
  position: fixed;
  top: 60px;
  left: 20px;
}

.dashboard .card{
  width: 200px;
  margin: 10px;
}

.dashboard .stat-data{
  width: 100%;
  height: 600px;
  background-color: #F5F7FA;
  margin: 22px;
  border-radius: 5px;
}


.orders-list{
  margin-left: 5px;
}

.orders-list h3{
  margin-bottom: 20px;
}

.orders-list:not(:last-child){
  margin-bottom: 50px;
}

.orders-list .card{
  padding-top: 4px;
  height: 80px;
  width: 100%;
}

.orders-list ul li{
  display: inline;
}

.orders-list .card-body ul li:not(:last-child)::after{
  content: " | ";
}

.order-details{
  margin-left: 50px;
}
